@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");
* {
  font-family: "Nunito Sans", sans-serif;
  font-style: normal;
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  position: relative;
  min-height: 100vh;
  background-color: #0C1E42;
  color: #fff;
}

button {
  border: none;
  background: none;
}

header {
  display: block;
  margin-block: 3rem 2rem;
  text-align: center;
}
header .text-balance i {
  padding-left: 0.2rem;
}
header :where(.text-balance, .cipher-balance, .currency-balance, .summary-value) {
  color: #c9c9c9;
}
header .balance {
  padding-block: 0.6rem 0.4rem;
  font-size: 1.7rem;
}
header .summary-value {
  font-size: 0.75rem;
}

.nav-portfolio-icons {
  display: flex;
  justify-content: space-around;
  margin-top: 1.5rem;
}
.nav-portfolio-icons span {
  display: block;
  font-size: 0.75rem;
  padding-top: 0.2rem;
}
.nav-portfolio-icons button {
  position: relative;
  background-color: #1C82e2;
  color: #fff;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 1.2rem;
  z-index: 1;
}
.nav-portfolio-icons button i {
  position: absolute;
  width: inherit;
  border-radius: 50%;
  height: inherit;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.section-crypto-currencies {
  display: block;
  padding: 2rem 1.2rem;
}

.container-crypto-currencies {
  transition: all 0.4s ease-in;
  margin-block: 1rem;
  padding: 0.6rem 0.7rem;
  border-radius: 0.2rem;
  display: flex;
  justify-content: space-between;
  background-color: #1b2f56;
  text-transform: capitalize;
}

:where(.crypto-price, .crypto-percentage) {
  transition: color 1s ease-in-out;
}

:where(.crypto-ticker, .crypto-percentage) {
  font-size: 0.75rem;
  color: #c9c9c9;
}

.crypto-image {
  width: 30px;
  height: 30px;
  margin-right: 0.25rem;
}

.section-deposit {
  width: 100%;
  height: 100vh;
  display: none;
}
.section-deposit .nav-deposit {
  width: 100%;
  position: absolute;
  justify-content: space-between;
  padding: 1.5rem 1.2rem;
}
.section-deposit .icon-back-page i {
  font-size: 1.2rem;
}
.section-deposit .select-currency {
  list-style: none;
  border: 1px solid #1b2f56;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 0.5rem;
  width: 110px;
  overflow: hidden;
  position: relative;
}
.section-deposit li {
  text-align: start;
  padding: 0.4rem;
  text-transform: uppercase;
  font-weight: 700;
}
.section-deposit li:nth-child(2) {
  border-top-style: solid;
  border-bottom-style: solid;
  border-color: rgba(255, 255, 255, 0.4274509804);
  border-width: 1px;
}
.section-deposit li:not(.select) {
  background-color: #1b2f56;
  display: none;
}
.section-deposit li.select {
  display: block;
}
.section-deposit li.select i {
  position: absolute;
  right: 0;
  padding-right: 0.4rem;
}
.section-deposit li > img {
  width: 16px;
  vertical-align: middle;
}
.section-deposit main {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-block-start: 5rem;
}
.section-deposit img.flag-currency {
  width: 128px;
}
.section-deposit .output-price {
  margin-block: 1.5rem;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);
  justify-items: center;
  align-items: center;
  column-gap: 0.5rem;
  font-size: 1.7rem;
  color: #c9c9c9;
}
.section-deposit .current-price {
  font-size: 2.5rem;
  line-height: 2.2rem;
  color: #fff;
}
.section-deposit .deposit-current-balance {
  grid-column-start: 1;
  grid-column-end: 4;
  font-size: 0.8rem;
}
.section-deposit .keyboard {
  display: grid;
  width: 300px;
  grid-template-columns: repeat(3, 1fr);
  height: 320px;
  gap: 1.5rem;
  margin-inline: auto;
}
.section-deposit .keyboard i {
  font-size: 1.3rem;
}
.section-deposit .key {
  border: 1px solid #0C1E42;
  border-radius: 0.7rem;
  display: grid;
  place-items: center;
  font-size: 1.7rem;
  background-color: #1b2f56;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.section-deposit .key:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 5px;
  transform: translate(1%, 1%);
  transition: all 0.3s;
  background-color: #0C1E42;
}
.section-deposit .key i {
  position: absolute;
  width: 100%;
  border-radius: 0.7rem;
  height: 100%;
  display: grid;
  place-items: center;
}
.section-deposit button {
  margin-block: 1.5rem;
  width: 300px;
  color: #fff;
  text-transform: uppercase;
  padding-block: 0.9rem;
  background-color: #1C82e2;
  border-radius: 0.3rem;
  letter-spacing: 0.1rem;
  font-weight: 700;
}

@keyframes fade-out {
  100% {
    transform: translateY(0%);
  }
}
.section-wallet {
  display: none;
  padding: 2rem 1.2rem;
}
.section-wallet .select-container {
  padding: 0.6rem 0.7rem;
  background-color: #1b2f56;
}
.section-wallet .select-fiat-wallet {
  justify-content: space-between;
  border-bottom-left-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
}
.section-wallet .select-crypto-wallet {
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
}
.section-wallet .container-list {
  display: block;
  opacity: 1;
  transition: opacity 0.2s ease-in;
  margin-top: 0.6rem;
  background-color: #1b2f56;
}
.section-wallet .crypto-item {
  padding-block: 0.6rem;
  display: flex;
  justify-content: space-between;
  text-transform: capitalize;
}
.section-wallet .crypto-image {
  filter: grayscale(100%);
}

.decrease {
  color: #ff3838;
}

.increase {
  color: #01cc01;
}

.flex {
  display: flex;
}

.text-end {
  text-align: end;
}

hr {
  opacity: 0.1;
}

.noselect {
  user-select: none;
}

.grid {
  display: grid;
  place-items: center;
}

/*# sourceMappingURL=style.css.map */
