* {
  font-family: "Nunito Sans", sans-serif;
  font-style: normal;
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  position: relative;
  min-height: 100vh;
  background-color : #0C1E42;
  color: #fff;
  // border: 1px solid;
}

button {
  border: none;
  background: none;
}

// HEADER 
header {
  display: block;
  margin-block: 3rem 2rem;
  text-align: center;
  // border: 1px solid #fff;

  & .text-balance i {
    padding-left: .2rem;
  }

  & :where(.text-balance, .cipher-balance, .currency-balance, .summary-value) {
    color: #c9c9c9;
  }

  & .balance {
    padding-block: .6rem .4rem;
    font-size: 1.7rem;
  }

  & .summary-value {
    font-size: .75rem;
  }
}

// NAV
.nav-portfolio-icons {
  display: flex;
  justify-content: space-around;
  margin-top: 1.5rem;
  & span {
    display: block;
    font-size: .75rem;
    padding-top: .2rem;
  }
  & button {
    position: relative;
    background-color: #1C82e2;
    color: #fff;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 1.2rem;
    z-index: 1;
  }
  & button i {
    position: absolute;
    width: inherit;
    border-radius: 50%;
    height: inherit;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
}

// MAIN

main {
  // border: 1px solid;
  margin: 2rem  1.2rem;
}

// HOME
.section-crypto-currencies {
  display: block;
}
.container-crypto-currencies {
  transition: all .4s ease-in;
  margin-block: 1rem;
  padding: .6rem .7rem;
  // border: 1px solid;
  border-radius: .2rem;
  display: flex;
  justify-content: space-between;
  background-color: #1b2f56;
  text-transform: capitalize;
}
:where(.crypto-price, .crypto-percentage) {
  transition: color 1s ease-in-out;
  // border:1px solid;
}
:where(.crypto-ticker, .crypto-percentage) {
  font-size: .75rem;
  color: #c9c9c9;
}
.crypto-image {
  width: 30px;
  height: 30px;
  margin-right: .25rem;
}

// DEPOSIT
.section-deposit {
  display: none;
  text-align: center;
  padding-inline: .5rem;
  // border: 1px solid;
  & .output-price {
    margin-block: 3rem 1.5rem;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    font-size: 1.7rem;
    color: #c9c9c9;
    text-align: center;
    // border: 1px solid;
  }
  & .keyboard {
    // border: 1px solid;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 260px;
    gap: 1.5rem;
    width: 200px;
    // place-items: center;
    margin-inline: auto;
  }
  & i {
    font-size: 1rem;
  }
  & span {
    font-size: 2.3rem;
    color: #fff;
  }
  & .key {
    border: 1px solid #ffffff6d;
    border-radius: .8rem;
    display: grid;
    place-items: center;
    font-size: 1.7rem;
  }
  & button {
    margin-block: 1.5rem;
    width: 200px;
    // border: 1px solid;
    color: #fff;
    padding-block: .7rem;
    background-color: #1C82e2;
    border-radius: .3rem;
  }
}

// WALET
.section-wallet {
  display: none;
  & .select-container {
    // border: 1px solid;
    padding: .6rem .7rem;
    background-color: #1b2f56;
  }
  & .select-fiat-wallet {
    justify-content: space-between;
    border-bottom-left-radius: .3rem;
    border-bottom-right-radius: .3rem;
  }
  & .select-crypto-wallet {
    border-top-left-radius: .3rem;
    border-top-right-radius: .3rem;
  }
  & .container-list {
    display: block;
    opacity: 1;
    transition: opacity .2s ease-in;
    margin-top: .6rem;
    // border: 1px solid;
    background-color: #1b2f56;
  }
  & .crypto-item {
    padding-block: .6rem;
    display: flex;
    justify-content: space-between;
    text-transform: capitalize;
  }
  & .crypto-image {
    filter: grayscale(100%);
  }
}

/// UTILITIES
.decrease {
  color: #ff3838;
}

.increase {
  color: #01cc01;
}

.flex {
  display: flex;
}

.text-end {
  text-align: end;
}

hr {
  opacity: .1;
}

.noselect {
  user-select: none;
}

.grid {
  display: grid;
  place-items: center;
}