* {
  font-family: "Nunito Sans", sans-serif;
  font-style: normal;
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  position: relative;
  min-height: 100vh;
  background-color : #0C1E42;
  color: #fff;
  // border: 1px solid;
  // overflow: hidden;
}

button {
  border: none;
  background: none;
}

// HEADER 
header {
  display: block;
  text-align: center;
  // border: 1px solid #fff;

  & .text-balance i {
    padding-left: .2rem;
  }

  & :where(.text-balance, .cipher-balance, .currency-balance, .summary-value) {
    color: #c9c9c9;
  }

  & .balance {
    padding-block: .6rem .4rem;
    font-size: 1.7rem;
  }

  & .summary-value {
    font-size: .75rem;
  }
}

// NAV HEADER
.nav-header {
  // border: 1px solid;
  justify-content: space-between;
  padding: 1.2rem;
  & .icon-nav i {
    font-size: 1.2rem;
    color: #c9c9c9;
  }
  & .icon-nav-back-home {
    display: none;
  }
  // & .select-currency {
  //   list-style: none;
  //   border: 1px solid #1b2f56;
  //   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  //   border-radius: .5rem;
  //   width: 110px;
  //   overflow: hidden;
  //   position: relative;
  // }
  // & li {
  //   text-align: start;
  //   padding: .4rem;
  //   text-transform: uppercase;
  //   font-weight: 700;
  // }
  // & li:nth-child(2) {
  //   border-top-style: solid;
  //   border-bottom-style: solid;
  //   border-color: #ffffff6d;
  //   border-width: 1px;
  // }
  // & li:not(.select) {
  //   background-color: #1b2f56;
  //   display: none;
  // }
  // & li.select {
  //   display: block;
  // }
  // & li.select i {
  //   position: absolute;
  //   right: 0;
  //   padding-right: .4rem;
  // }
  // & li>img {
  //   width: 16px;
  //   vertical-align: middle;
  // }
}

// NAV PORTFOLIO
.nav-portfolio-icons {
  justify-content: space-around;
  margin-top: 1.5rem;
  & span {
    display: block;
    font-size: .75rem;
    padding-top: .2rem;
  }
  & button {
    position: relative;
    background-color: #1C82e2;
    color: #fff;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 1.2rem;
    z-index: 1;
  }
  & button i {
    position: absolute;
    width: inherit;
    border-radius: 50%;
    height: inherit;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
}

// MAIN
main.app {
  // border: 1px solid;
}
// HOME
.section-crypto-currencies {
  display: block;
  padding: 2rem  1.2rem;
}
.container-crypto-currencies {
  transition: all .4s ease-in;
  margin-block: 1rem;
  padding: .6rem .7rem;
  // border: 1px solid;
  border-radius: .2rem;
  display: flex;
  justify-content: space-between;
  background-color: #1b2f56;
  text-transform: capitalize;
}
:where(.crypto-price, .crypto-percentage) {
  transition: color 1s ease-in-out;
  // border:1px solid;
}
:where(.crypto-ticker, .crypto-percentage) {
  font-size: .75rem;
  color: #c9c9c9;
}
.crypto-image {
  width: 30px;
  height: 30px;
  margin-right: .25rem;
}

// DEPOSIT + CRYPTO FINANCE
:where(.section-deposit, .section-crypto-finance) {
  width: 100%;
  display: none;
  // border: 1px solid;
  main {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-block-start: 1rem;
  }
  & img {
    width: 120px;
  }
  // OUTPUT PRICE
  & .output-price {
    // border: 1px solid;
    margin-block: 1.5rem;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    justify-items: center;
    align-items: center;
    column-gap: .5rem;
    font-size: 1.5rem;
    color: #c9c9c9;
  }
  & .current-price {
    font-size: 2rem;
    line-height: 2.2rem;
    color: #fff;
  }
  & .deposit-current-balance, .crypto-total-value {
    grid-column-start: 1;
    grid-column-end: 4;
    font-size: .8rem;
  }
  //  KEYBOARD
  & .keyboard {
    // border: 1px solid;
    display: grid;
    width: 300px;
    grid-template-columns: repeat(3, 1fr);
    height: 280px;
    gap: 1.5rem;
    margin-inline: auto;
  }
  & .keyboard i {
    font-size: 1.3rem;
  }
  & .key {
    // border: 1.5px solid;
    border: 1px solid #0C1E42;
    border-radius: .7rem;
    display: grid;
    place-items: center;
    font-size: 1.5rem;
    background-color: #1b2f56;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  & .key:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 5px;
    transform: translate(1%,1%);
    transition: all .3s;
    background-color: #0C1E42;
  }
  & .key i {
    position: absolute;
    width: 100%;
    border-radius: .7rem;
    height: 100%;
    display: grid;
    place-items: center;
  }
  & button {
    margin-block: 1.5rem;
    width: 300px;
    // border: 1px solid;
    color: #fff;
    text-transform: uppercase;
    padding-block: .9rem;
    background-color: #1C82e2;
    border-radius: .3rem;
    letter-spacing: .1rem;
    font-weight: 700;
  }
}

@keyframes fade-out {
  100% {
    transform: translateY(0%);
  }
}

// WALET
.section-wallet {
  display: none;
  padding: 2rem  1.2rem;
  & .select-container {
    // border: 1px solid;
    padding: .6rem .7rem;
    background-color: #1b2f56;
  }
  & .select-fiat-wallet {
    justify-content: space-between;
    border-bottom-left-radius: .3rem;
    border-bottom-right-radius: .3rem;
  }
  & .select-crypto-wallet {
    border-top-left-radius: .3rem;
    border-top-right-radius: .3rem;
  }
  & .container-list {
    display: block;
    opacity: 1;
    transition: opacity .2s ease-in;
    margin-top: .6rem;
    // border: 1px solid;
    background-color: #1b2f56;
  }
  & .crypto-item {
    padding-block: .6rem;
    display: flex;
    justify-content: space-between;
    text-transform: capitalize;
  }
  & .crypto-image {
    filter: grayscale(100%);
  }
}

/// UTILITIES
.decrease {
  color: #ff3838;
}

.increase {
  color: #01cc01;
}

.flex {
  display: flex;
}

.text-end {
  text-align: end;
}

hr {
  opacity: .1;
}

.noselect {
  user-select: none;
}

.grid {
  display: grid;
  place-items: center;
}